body {
  display: flex;
  justify-content: center;
  background-color: darkolivegreen;
  background-image: url("wild_oliva.png");
  color: beige;
}

.container {
  padding-top: 50px;
  width: 600px;
}

img {
  width: 140px;
  border-radius: 5px;
}

.head {
  display: flex;
}

.title {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* div {
  border-style: solid;
  border-color: aliceblue;
} */

section {
  margin-top: 50px;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

#logos {
  margin-top: 10px;
  font-size: 30px;
}

#logos > a > i {
  padding: 5px;
  border: 3px solid beige;
  border-radius: 5px;
  max-width: 100px;
  width: 100%;
  color: beige;
  -webkit-transition:  max-width 2s;
  transition : max-width 0.1s;
}

#logos > a > i:hover {
  background-color: beige;
  color: #3b3b3b;
  max-width: 120px;
}