body {
  display: flex;
  justify-content: center;
  background-color: darkolivegreen;
  background-image: url("wild_oliva.png");
  background-attachment: fixed;
  color: beige;
}

.container {
  padding-top: 50px;
  width: 640px;
}

img {
  width: 140px;
  border-radius: 5px;
}

.head {
  display: flex;
}

.title {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  margin-top: 50px;
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

#logos {
  margin-top: 10px;
  font-size: 30px;
}

#logos > a > i {
  padding: 5px;
  border: 3px solid beige;
  border-radius: 5px;
  max-width: 100px;
  width: 100%;
  color: beige;
  -webkit-transition:  max-width 2s;
  transition : max-width 0.1s;
}

#logos > a > i:hover {
  background-color: beige;
  color: #3b3b3b;
  max-width: 120px;
}

a {
  text-decoration: none;
}

h4 > i {
  font-size: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    padding-top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .title {
    padding-left : 10px;
  }

  .title > h1 {
    font-size: 25px;
    margin: 0px;
  }

  .title > h2 {
    font-size: 20px;
  }

  img {
    width: 90px;
  }
}

.background-tile > div {
  border: 2px solid beige;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
}